#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --buildsystem=cmake --builddirectory=build-debian

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo \
		-DCMAKE_INSTALL_PREFIX=/opt/apps/cn.org.oops.oops-jump

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp

override_dh_auto_test:
	ctest --test-dir build-debian --output-on-failure
