[Desktop Entry]
Type=Application
Name=DeepSwitch
Name[zh_CN]=DeepSwitch 应用切换器
Comment=Configure DeepSwitch app switching
Comment[zh_CN]=配置 DeepSwitch 应用切换
Exec=/opt/apps/cn.org.oops.deepswitch/files/bin/deepswitch-settings
Icon=cn.org.oops.deepswitch
Categories=Settings;System;
Keywords=deepswitch;app;switcher;hotkey;
Keywords[zh_CN]=应用切换;快捷键;
StartupNotify=true
StartupWMClass=cn.org.oops.deepswitch
Terminal=false
