[Desktop Entry]
Type=Application
Name=Firefox
Name[zh_CN]=火狐浏览器
Exec=firefox %u
Icon=firefox
StartupWMClass=firefox
Categories=Network;WebBrowser;
Terminal=false
NoDisplay=false
